/* hiding some toolbar buttons */
button[title="Save and Checkpoint"] {
    display: none !important;
}

button[title="insert cell below"] {
    display: none !important;
}

button[title="cut selected cells"] {
    display: none !important;
}

button[title="copy selected cells"] {
    display: none !important;
}

button[title="paste cells below"] {
    display: none !important;
}

button[title="move selected cells up"] {
    display: none !important;
}

button[title="move selected cells down"] {
    display: none !important;
}

button[title="open the command palette"] {
    display: none !important;
}

button[title="Exercise2: Create/Remove exercise"] {
    display: none !important;
}

button[title="Toggle split/centered cell style"] {
    display: none !important;
}

button[title="lift restrictions from selected cells"] {
    display: none !important;
}

button[title="make selected cells read-only"] {
    display: none !important;
}

button[title="freeze selected cells"] {
    display: none !important;
}

/* hiding migration notice (Notebook 7) */
#nbclassic_notebook7_banner {
    display: none !important;
}

/* hiding menus (doesn't work as well as I would like it to)
#edit_menu {
    display: none !important;
}

#insert_menu {
    display: none !important;
}

#widget_menu {
    display: none !important;
}

#help_menu {
    display: none !important;
}

/* hiding submenus in File */
#download_ipynb,
#download_html,
#download_markdown,
#download_rst,
{
    display: none !important;
}
*/
